{% extends 'base.html' %}

{% block title %}Images rating{% endblock %}

{% block content %}
    <h1>Images rating</h1>
    <ol>
        {% for image in most_viewed %}
            <li>
                <a href="{{ image.get_absolute_url }}">
                    {{ image.title }}
                </a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}